body {
    background-color: black;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

header {
    background-color: gainsboro;
    color: gray;
}
    header > nav {
        font-family: "Outfit";

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header > nav > ul {
        list-style: none;
    }

    main {
        margin: 0;
        padding: 1%;
    }
    
        main > h1 {
            font-family: "Rubik";

            margin: 0;
            padding: 0;
        }

        main > p {
            font-family: "Outfit";
            font-size: medium;
        }

    .gallery {
        background-color: white;
        border-radius: 5px;

        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 1%;
    }
        .gallery > img {
            width: 50%;
            height: 50%;
        }
            .gallery > image :hover {
                border-color: aqua;
                border-width: 3px;
            }

footer {
    background-color: gainsboro;
    color: gray;
    font-family: "Rubik";

    display: flex;
    justify-content: center;

    margin: 0;
    padding: 2px;
}