<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$GITHUB - Artefact</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="work">
    <h1>Artefact</h1>
    <p>$NAMES — $GITHUB</p>
    
    <section class="playground">
      <h2>Playground</h2>

      <div>
        <img src="assets/" alt="">
        <p>Artefact</p>
      </div>
  
      <div>
        <img src="assets/" alt="">
        <p>étape 1</p>
      </div>

      <div>
        <img src="assets/" alt="">
        <p>étape 2</p>
      </div>

      <div>
        <img src="assets/" alt="">
        <p>détail</p>
      </div>

      <video
        controls
        src="assets/"></video>
    </section>

    <section class="landscape">
      <h2>Landscape</h2>

      <div>
        <img src="assets/" alt="">
        <p>Artefact</p>
      </div>

      <div>
        <img src="assets/" alt="">
        <p>Artefact</p>
      </div>

      <div>
        <img src="assets/" alt="">
        <p>Artefact</p>
      </div>
    </section>
  </main>
</body>
</html>