@import url(../../../common-resources/reset.css);
@import url(../../../common-resources/work.css);

body {
  background-color:#201818;
  color: #eee;
}

section.landscape {
  background-color: #0e0b20;
}