@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);
@import url(../../../common-resources/reset.css);
@import url(overlay.css);

:root {
  font-family: 'Inter', sans-serif;
  --main-color: #443e4a;
  --accent-color: rgb(0, 65, 157);
  --alt-accent-color: rgb(232, 224, 0);
  --bonus-color: #007d5c;
  --bonus-color-light: #00d49c;
  --circle-r: 100px;
  --circle-x: 50%;
  --circle-y: 50%;
  color: #201c23;
  background-color: #ddd;
}

.hover-info-link {
  & foo {}

  &.empty {
    pointer-events: none;
  }
}

ul {
  padding-left: 1em;
}

a {
  color: var(--accent-color);  
}

.bonus-penalty.bonus {
  color: var(--bonus-color);

  &.small {
    font-size: 0.8em;
  }
}

section.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 0 0;
  text-align: center;

  & foo {}

  & h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
  }

  & *:not(h1) {
    font-weight: normal;
    font-size: 12px;
  }

  & * + * {
    margin-top: 0.5em;
  }
}

section.evaluation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  font-size: 12px;

  & foo {}

  & .row {
    --border-color: #0002;
    --link-color: var(--main-color);
    --link-background-color: transparent;
    
    z-index: 0; /* necessary for the ::before to work */
    display: flex;
    width: 86em;
    flex-direction: row;
    align-items: stretch;
    padding: 2px 2px;
    border-radius: 6px;
    height: 2.3em;
    
    & foo {}
    
    &:hover {
      --border-color: #fff2;
      --link-color: #fff;

      background-color: var(--main-color);
      color: white;

      & foo {}

      & .bonus-penalty.bonus {
        color: var(--bonus-color-light);
      }

      & .hover-info-link {
        --link-color: #fff;
      }
      
      & a {
        color: var(--alt-accent-color);
      }      
    }

    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }

    & > * + * {
      margin-left: 4px;
    }

    & > :is(.criterion, .total) {
      flex: 0 1 8em;
      text-align: center;
      margin-left: 0px;

      border: var(--border-color) 1px solid;

      & foo {}

      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        pointer-events: none;
      }

      &:hover {
        color: var(--main-color);
        cursor: none;

        & .bonus-penalty.bonus {
          color: var(--bonus-color);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 2px;
        background-color: white;
        background-image: radial-gradient(var(--circle-r) at var(--circle-x) var(--circle-y), transparent, var(--alt-accent-color)) ;
        z-index: -1;
        display: none;
      }
      &:hover::before {
        display: block;
      }
      
      &:nth-child(6) {
        border-radius: 4px 0 0 4px;
      }
      &:nth-last-child(-n + 5) {
        border-left: none;
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }

    & .mono {
      font-family: "Fira Code", monospace;
      font-size: 11px;
      font-weight: 500;
    }

    & .index {
      padding: .25em;
      opacity: 0.25;
      flex: 0 0 1.5em;
      text-align: center;
    }

    & .names {
      flex: 0 0 12em;
    }
    
    & .ids {
      flex: 0 0 15em;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      > * + * {
        margin-left: 0.25em;
      }
    }

    & .page {
      flex: 0 0 6em;
    }

    & .art-folder {
      flex: 0 0 3em;
    }
  }
}